Halo {{ job.user.first_name }} {{ job.user.last_name }},

Kini iklan lowongan anda "{{ job.title }}" sudah aktif, berikut detailnya:

Mulai tayang : {{ job.started|date:"d/m/Y" }}
Expired      : {{ job.ended|date:"d/m/Y" }}
Link         : {{ domain }}{{ job.get_absolute_url }}


Dengan ini kami sampaikan juga bahwa lowongan anda secara otomatis di bagikan
di akun Twitter dan Facebook kami.

Anda menyukai layanan kami? dukung kami dengan mem-follow @LokerHub di Twitter,
atau Like kami di Facebook.


Terima Kasih,
LokerHub Team

http://lokerhub.com
https://twitter.com/LokerHub
https://www.facebook.com/lokerhub