{% load humanize %}
Halo {{ user.first_name }},

Terima kasih telah melakukkan upgrade lowongan ke PREMIUM,
silahkan melakukkan pembayaran Rp. {{ fee|intcomma }},- ke rekening berikut:

{% for bank in banks %}
Bank         : {{ bank.name }} (Cabang {{ bank.branch }})
Atas nama    : {{ bank.an }}
No. rekening : {{ bank.ac }}
-------------------------------------------------------------
{% endfor %}

Setelah pembayaran dilakukkan harap konfirmasi ke kami melalui form berikut ini:
{{ domain }}{{ confirm_link }}

Lihat tagihan secara online: {{ domain }}{{ billing_link }}


Terima Kasih,
LokerHub Team

http://lokerhub.com
https://twitter.com/LokerHub
https://www.facebook.com/lokerhub
