{% extends 'pages/base.html' %}

{% block title %}
Tentang LokerHub
{% endblock %}

{% block description %}
LokerHub merupakan situs penyedia informasi karir di bidang Teknologi Informasi. Berusaha memberi kesan baru dan segar buat situs lowongan kerja di Indonesia.
{% endblock %}

{% block page_title %}
Tentang LokerHub
{% endblock %}

{% block page_intro %}
LokerHub merupakan situs penyedia informasi karir di bidang Teknologi Informasi. Berusaha memberi kesan baru dan segar buat situs lowongan kerja di Indonesia.
{% endblock %}


{% block page_content %}
    <div class="img-container"><img src="{{ STATIC_URL }}img/feature-1.png" class="img-responsive"></div>
    <h2 class="cover-heading">Job Board simplified</h2>
    <p class="lead">LokerHub menggunakan system yang kami kembangkan sendiri untuk mencapai tujuan yang kami inginkan yaitu sebuah sistem yang modern, mudah dipakai pengguna dan cepat.</p>

    <div class="img-container"><img src="{{ STATIC_URL }}img/feature-2.png" class="img-responsive"></div>
    <h2 class="cover-heading">Kelola lowongan dengan mudah</h2>
    <p class="lead">Sistem kami menyediakan sistem pengelolaan lowongan yang mudah dipakai, buat lowongan sebanyak yang anda inginkan. Anda bisa pilih lowongan gratis atau aktifkan PREMIUM langsung dari dashboard akun anda.</p>

    <div class="img-container"><img src="{{ STATIC_URL }}img/feature-3.png" class="img-responsive"></div>
    <h2 class="cover-heading">Multi Perusahaan</h2>
    <p class="lead">Tidak seperti sistem lowongan lain, anda mewakili satu perusahaan, di LokerHub anda bisa membuat lebih dari satu perusahaan. Dengan begitu hanya dengan satu akun LokerHub anda bisa mengelola lowongan untuk beberapa perusahaan sekaligus.</p>

    <hr>
    <h2 class="cover-heading">Terintegrasi dengan Sosial Media</h2>
    <p class="lead">Sistem kami terhubung langsung dengan akun Twitter dan Facebook kami @LokerHub, setiap lowongan yang anda aktifkan secara otomatis dibagikan juga di timeline Twitter dan Facebok kami.</p>

    <hr>
    {% if not user.is_authenticated %}
    <h2 class="cover-heading">Anda sudah cukup yakin?</h2>
    <p class="lead"><a href="{% url 'login' %}" class="btn btn-lg btn-warning">Daftar Sekarang. Gratis!</a></p>
    {% endif %}

{% endblock %}