{% extends 'pages/base.html' %}

{% block title %}
Tentang LokerHub
{% endblock %}

{% block description %}
LokerHub merupakan situs penyedia informasi karir di bidang Teknologi Informasi. Berusaha memberi kesan baru dan segar buat situs lowongan kerja di Indonesia.
{% endblock %}

{% block page_title %}
Tentang LokerHub
{% endblock %}

{% block page_intro %}
LokerHub merupakan situs penyedia informasi karir di bidang Teknologi Informasi. Berusaha memberi kesan baru dan segar buat situs lowongan kerja di Indonesia.
{% endblock %}


{% block page_content %}
  <div class="row">
    <div class="col-sm-4">
      <!-- <img src="assets/img/devices.png" alt="Responsive across devices" class="img-responsive"> -->
      <h3>Hemat waktu</h3>
      <p>Layanan kami berusaha untuk menghemat waktu anda, terutama bagi usaha kecil dan menengah yang mungkin tidak mempunyai staff khusus untuk tugas ini. Sehingga anda bisa lebih fokus dengan bisnis anda.</p>
    </div>
    <div class="col-sm-4">
      <!-- <img src="assets/img/sass-less.png" alt="Sass and Less support" class="img-responsive"> -->
      <h3>Proses legal</h3>
      <p>LokerHub murni adalah sebuah layanan jasa, kami mempekerjakan karyawan khusus untuk membantu anda memasukkan data lowongan. Kami menyebutnya sebagai Agen.</p>
    </div>
    <div class="col-sm-4">
      <!-- <img src="assets/img/components.png" alt="Components" class="img-responsive"> -->
      <h3>Kelola lowongan</h3>
      <p>Lowongan yang sudah anda buat akan tetap tersimpan dalam database kami, dan bisa diiklankan kembali dikemudian hari. Jumlah lowongan yang bisa anda buat tergantung paket yang anda pilih.</p>
    </div>
  </div>
{% endblock %}