{% extends 'pages/base.html' %}

{% block page_title %}
Hubungi LokerHub
{% endblock %}

{% block page_intro %}
Apabila anda ada kendala dengan penggunaan sitem kami, ada pertanyaan, saran, kritik kami akan dengan senang hati mendengarnya dari anda. Hubungi kami di <a href="mailto:admin@lokerhub.com"><strong>admin[at]lokerhub.com</strong></a>, atau lewat akun <a href="https://www.facebook.com/lokerhub" target="_blank"><strong>Facebook</strong></a> dan <a href="https://twitter.com/LokerHub" target="_blank"><strong>Twitter</strong></a> kami. Salam kerja!.
{% endblock %}
