<!--
<div class="ad-block">
  <a href="{% url 'page_fb_promo' %}">
    <img src="{{ STATIC_URL }}img/ads2.png" class="img-responsive">
  </a>
</div>
-->

{% if user.is_authenticated %}
<a href="{% url 'job_new' %}" class="btn btn-success btn-lg btn-block">
  <div class="title">Pasang Lowongan</div>
  gratis! aktif 30 hari
</a>
{% else %}
<a href="{% url 'login' %}" class="btn btn-success btn-lg btn-block">
  <div class="title">Pasang Lowongan</div>
  gratis! aktif 30 hari
</a>
{% endif %}

{% if categories %}
<div class="list-group">
  <a href="javascript:;" class="list-group-item title">Kategori</a>
  <a href="{% url 'home' %}" class="list-group-item" title="Semua lowongan">Semua lowongan</a>
  {% for cat in categories %}
  <a href="{{ cat.get_jobs_url }}" class="list-group-item {% if category == cat %}active{% endif %}" title="{{ cat.name }}">{{ cat.name }}</a>
  {% endfor %}
</div>
{% endif %}

<a class="twitter-timeline" href="https://twitter.com/LokerHub" data-widget-id="443642321569984512">Tweets by @LokerHub</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
