{% extends 'base.html' %}

{% block content %}
{% load url from future %}

<div class="wrapper">

<div class="container heading">
      <h2 class="cover-heading">{% block section_title %}{ Lowongan kerja IT Indonesia }{% endblock %}</h2>
      <p class="lead">
      {% block section_description %}
      Selamat datang di LokerHub! Kami adalah situs penyedia informasi karir di bidang Teknologi Informasi.
      {% endblock %}
      </p>
</div>

<div class="container listing">
  <div class="well well-sm">
  <div class="row">
    <div class="col-sm-8 list">
        {% block jobs %}
        <ul class="list-group">

        {% for job in jobs %}
          {% if job.ads_type == 0 %}
            <li class="list-group-item list-group-item featured">
              <span class="pull-right glyphicon glyphicon-star" title="Featured"></span>
              <p class="title"><a href="{{ job.get_absolute_url }}" title="{{ job.title }}">{{ job.title }}</a></p>
              <p class="company"><i>di</i> {{ job.company }}, {% if job.location %}{{ job.location }}{% else %}{{ job.company.state }}{% endif %}</p>
              <p class="date">{{ job.started|date:"d M Y" }}<span class="label label-warning pull-right">{{ job.get_job_type_display|upper }}</span></p>
            </li>
          {% else %}
            <li class="list-group-item list-group-item">
              <p class="title"><a href="{{ job.get_absolute_url }}" title="{{ job.title }}">{{ job.title }}</a></p>
              <p class="company"><i>di</i> {{ job.company }}, {% if job.location %}{{ job.location }}{% else %}{{ job.company.state }}{% endif %}</p>
              <p class="date">{{ job.started|date:"d M Y" }}<span class="label label-default pull-right">{{ job.get_job_type_display|upper }}</span></p>
            </li>
          {% endif %}
        {% endfor %}

        <li class="list-group-item title">
          <span id=indeed_at><a href="http://www.indeed.com/">jobs</a> by <a
          href="http://www.indeed.com/" title="Job Search"><img
          src="http://www.indeed.com/p/jobsearch.gif" style="border: 0;
          vertical-align: middle;" alt="Indeed job search"></a></span>
        </li>

        {% for indeed_job in indeed_jobs %}
        <li class="list-group-item indeed">
        <p class="title"><a href="{{ indeed_job.url }}" title="{{ indeed_job.title }}" onmousedown="{{ indeed_job.onmousedown }}" target="_blank">{{ indeed_job.title }}</a></p>
        <p class="company"><i>di</i> {{ indeed_job.company }}, {{ indeed_job.location }}</p>
        <p class="date">{{ indeed_job.created|date:"d M Y" }}</p>
        </li>
        {% endfor %}

        <li class="list-group-item">
          {% if indeed_jobs.has_previous %}
          <a href="?page={{ indeed_jobs.previous_page_number }}" class="btn btn-default pull-left">&laquo; Sebelumnya</a>
          {% endif %}

          {% if indeed_jobs.has_next %}
          <a href="?page={{ indeed_jobs.next_page_number }}" class="btn btn-default pull-right">Selanjutnya &raquo;</a>
          {% endif %}

          <div class="clearfix"></div>
        </li>
        </ul>
        {% endblock %}

    </div>

    <div class="col-sm-4 sidebar">
    {% include 'partials/categories.html' %}
    </div>

  </div>
  </div>
</div>
</div>
{% endblock %}
