{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block description %}Lokerhub login{% endblock %}
{% block headscripts %}
<script type="text/javascript">
  var oneall_subdomain = 'lokerhub';

  /* The library is loaded asynchronously */
  var oa = document.createElement('script');
  oa.type = 'text/javascript'; oa.async = true;
  oa.src = '//' + oneall_subdomain + '.api.oneall.com/socialize/library.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(oa, s);
</script>
{% endblock %}

{% block content %}
{% load url from future %}
<div class="wrapper" id="about">
<div class="container heading">
  <h2>LokerHub Login</h2>
  <p class="lead">Silahkan login atau mendaftar dengan salah satu akun di bawah ini.</p>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="text-align:center">
    <span id="oa_social_login_container" style="display: inline-block"></span>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript">

  /* Replace #your_callback_uri# with the url to your own callback script */
  var your_callback_script = '{{SITE_DOMAIN}}{{ONEALL_LOGIN_CALLBACK_URL}}';

  /* Embeds the buttons into the container oa_social_login_container */
  var _oneall = _oneall || [];
  _oneall.push(['social_login', 'set_providers', ['facebook', 'twitter', 'google', 'github']]);
  _oneall.push(['social_login', 'set_callback_uri', your_callback_script]);
  _oneall.push(['social_login', 'do_render_ui', 'oa_social_login_container']);
</script>
{% endblock %}
